@mainColor: teal;

.property {
  color: black;
}
.confidenceLevel {
  margin: 0;
  padding: 0;
  background-color: white;
  height: 6px;
  width: 20px;
  padding: 1px;
  border: 1px solid lightgray;
  border-radius: 2px;
}

.levelFilled {
  border-color: @mainColor;
  background-color: rgb(194, 255, 255);
}

.confidenceCell {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin: 0;
}

.propertyTableHeader {
  padding-top: 0.6rem !important;
  padding-bottom: 0.6rem !important;
}
