.entitiesContainer{
  min-height: 400px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  //justify-content: space-around;
  //align-items: baseline;
  align-items: stretch;
  align-content: flex-start;
}

#entityPreView{
  position: absolute;
  top: 1rem;
}