#hintsList {
  background-color: white;
  position: absolute;
  z-index: 999999;
  border-radius: 0.28571429rem;
  border: 1px solid teal;
  margin-top: 0.3rem;
  margin-left: 0.05rem;
}

.hintsListItem {
  padding-left: 1rem;
  padding-right: 2rem;
  padding-top: 0.2rem;
  padding-bottom: 0.1rem;
}

.activeHint {
  background-color: lightgray;
}
